
<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
<style type="text/css">
	.show{
		display: inline;
		color: gray;
		font-size: 20px;
		line-height: 30px;
		padding-top: 10px;		/*margin-right: 10px;*/
		padding-right: 80px;
		text-align: right;
		
		
	}
	.welcome{
		display: inline;
		color:gray;
		float: right;
		position: absolute;
		padding-left: 20px;
		font-size: 16px;
	}
	.welcome:hover,.set:hover{
		color: chartreuse;
	}
	.set{
		
		color: gray;
	}
	.pic{
		width: 100px;
		height: 100px;
		border: solid 1px gray;
		border-radius: 50%;
		overflow: hidden;
		margin-top: 10px;
		
	}
	.say{
		color: gray;
		font-size: 1.7em;
		float: right;
		font-family: '隶书';
		margin-top: -98px;
	}
	h5{
		display: inline;
	}
	h4{
		width: 100px;
		margin-left: 33px;
		color: #000;
	}
	#text{
		margin: -28px 140px;
		border-radius: 10px;
		box-shadow: 1px 1px 2px gray;
		text-decoration: none;
		overflow: none;
			}
	#text:hover{
		box-shadow: 2px 2px 2px black;
	}
	.report{
		margin: -18px 748px;
	}
	.more{
		font-size: 12px !important;
	}
</style>
    <title>my 朋友圈</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">my 朋友圈</a>
          <!--导航条-->
           <ul class="nav navbar-nav">
	        <li class="active"><a href="#">首页 <span class="sr-only">(current)</span></a></li>
	        
	        <li><a href="#">我的说说</a></li>
	        <li><a href="#">我的好友</a></li>
	      </ul>
          
        </div>
        <div id="navbar" class="navbar-collapse collapse"> 	
        	 <% if(!login){ %>
        		<form class="navbar-form navbar-right">
		            <!--<div class="form-group">
		              <input type="text" placeholder="Email" class="form-control">
		            </div>
		            <div class="form-group">
		              <input type="password" placeholder="Password" class="form-control">
		            </div>-->
		            <a href="login" class="btn btn-success">登录</a>
		            <a href="regist" class="btn btn-primary">注册</a>
	          </form>
        	<%} else{%>
        		
        			<!--<form class="navbar-form navbar-right">
        			<div class="box">	
        			<ul class="nav navbar-nav">
        				
        					<p ><a href="#" class="show">欢迎您！<%= username %></a>	</p>
				        <li><a href="#"class="welcome">个人管理</a></li>
        				</ul>
				      </div>  -->
				      <div class="show">
				        <a href="/my"><div class="welcome">个人管理</div></a>
				        <a href="#"><div class="set">欢迎回来!<%= username %> </div></a>
				      	<!--<a href="/quit">注销</a>-->
				      </div>
        		</form>
        	<%}%>  
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        
        	 
        	
        	
        	<div class="jumbotron">
			 
			       <%if(!login){%>	
			        <h1>Hello, 同学们!</h1>
			        <p>欢迎踊跃发言、吐槽、灌水、爆照.</p>
			        <p><a class="btn btn-primary btn-lg" href="/login" role="button">加入我们 &raquo;</a></p>
						<%} else{%>
							<div class="pic">
			        	<!--静态加载是以public为根目录-->
			        	<a href="/setavatar">
			        		  <!--点击全图放大-->
			        		<img src="../avatar/<%= avatar%>"/> 
			        	</a>
		        </div>
		        	<h4><%= username%></h4>
		        	
		        	<div class="say">
		        		<% if(login){ %>
		        		<h5>个性签名:</h5><%= say%>
		        		<%}%>
		        	</div>
		        	 <div class="col-lg-4 col-md-3">
		        		<textarea name="text" rows="3" id="text" cols="80" placeholder="give you some color to saysay"></textarea>
								<a id="report" class="btn btn-success report"  >发表</a>
		        		<!--<input type="button" name="report" id="aa" lass="btn btn-success report" value="发布" />-->
		        	</div>
		        	
							<%}%>
        	</div>
    
      </div>
				
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
        	<!--遍历数据库-->
        	<% if(login){ %>
		        		
		        		<!--此处使用ejs 后太自己做  也可以吧数据返回给前台 用angular等做-->
          	<%for(var i=0;i<shuoshuo.length;i++){%>
          	
					<!--<div id="liuyankuai">-->
						<!--<a href="#" class="list-group-item active">-->
							
					    <h3 ><%= shuoshuo[i].username%></h3>
					    <!--<h5>个性签名:</h5><%= say%>-->
					  
					    <p class="list-group-item active"><%= shuoshuo[i].text%></p>
					    
					    <p><a class="btn btn-default more" href="#" role="button">查看详细 &raquo;</a></p>
					    <!--<p><a href="/remove?id={{= id}}" class="remove" >删除</a></p>-->
				  	<!--</a>-->
				
				<!--</div>--> 
          	
          	
          	
          	<%}%>
          
          <%}else{%>
          	 </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <img src="/image/2.jpg" width="150%"/>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <img src="/image/11.jpg" width="150%"/>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
          <%}%>
       

      <hr>

      <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->
		

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script type="text/javascript">
				$('#report').click(function(){
  					$.post('/report',{'text':$('#text').val()},function(result){
  						if(result == 7){
  							alert('ok');
  							window.location = '/';
  						} else{
  							alert('defeat');
  						}
  					})
  		  })
		</script>
  </body>
</html>
